name: Passing Variables

on: push

jobs:
  producer:

    outputs:
      foo: ${{ steps.producer1.outputs.foo }}
    runs-on: ubuntu-latest
    steps:
      - name: "Passing Variables"
        id: producer1
        run: | 
          foo=Ayesha
          echo "foo=${foo}" >> "$GITHUB_OUTPUT"
          echo "FOO=${foo}" >> "GITHUB_ENV"
      - name: "Checking Variables"
        run: |
          echo "Value of foo is " ${{ steps.producer1.outputs.foo }}
          echo "Value of FOO is $FOO"
      
  consumer:
    runs-on: ubuntu-latest 
    needs: producer
    steps:
      - name: "Using Variables"
        run: |
          echo "foo value that is used is " ${{ needs.producer.outputs.foo }}
          echo "FOO value is " $FOO
